; Copy this file to /etc/limesco.conf or use the -c flag

[database]
; host=
; port=
; username=
; password=
; options=
database=liminfra

[email]
from_name=Sjors Gielen
from_address=sjors@limesco.nl
replyto_name=Limesco Support
replyto_address=support@limesco.nl
blind_cc=sjors@limesco.nl
; Optional fields, given are the defaults
; smtp_host=localhost
; smtp_port=25

[speakup]
;uri_base=
;username=
;password=
